body {
    text-align: center;
    margin-top: 50px;
    background-color: #B57EDC; 
    color: midnightblue;
    font-family: 'Playfair Display', serif; 
}

h2 {
    font-family: 'Pacifico', cursive;
    color: #6f3ce7; 
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus {
    background-color: #c0392b;
}

.container {
    text-align: center;
}

#no {
    position: relative; /* Ändern von absolute zu relative für bessere Responsivität */
}

p { 
    background-color: #222;
    color: #bbb;
}

#yesgif {
    width: 80%; /* Responsivität für Bilder */
    max-width: 500px; /* Maximale Größe des Bildes */
    height: auto; /* Beibehalten des Seitenverhältnisses */
    position: relative; /* Ändern von absolute zu relative für bessere Responsivität */
    margin: 20px auto; /* Zentrieren des Bildes */
}

/* Responsives Design */
@media (max-width: 600px) {
    button {
        width: 100%; /* Volle Breite für kleinere Geräte */
        padding: 10px;
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
    }

    #yesgif {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    #no {
        margin-left: 0;
    }
}


.background-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Vorhang_herz.gif') no-repeat center center;
    background-size: cover; /* Optional: Streckt das GIF über die ganze Seite */
    z-index: 0; /* Hinter dem Text */
}

#content {
    position: relative;
    z-index: 1; /* Über dem GIF */
    text-align: center;
    margin-top: 20%;
    color: #333; /* Textfarbe, die gut lesbar ist */
}